In [1]:
import pandas as pd

In [7]:
pd.read_csv("spotify_millsongdata.csv")

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...
...,...,...,...,...
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [8]:
df = pd.read_csv("spotify_millsongdata.csv")

In [9]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [10]:
df.shape()

TypeError: 'tuple' object is not callable

In [11]:
df.shape

(57650, 4)

In [12]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [13]:
df =df.drop('link', axis=1).reset_index(drop=true)

NameError: name 'true' is not defined

In [14]:
df.head(0)

Empty DataFrame
Columns: [artist, song, link, text]
Index: []

In [15]:
df = df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [16]:
df.head(10)

,artist,song,text
0,Frank Zappa,Does This Kind Of Life Look Interesting To You?,Dee-goo-pee-oo-poo \r\nTa-dan! \r\n \r\nBad...
1,Moody Blues,In The Beginning,"[First Man:] I think, I think I am, therefore ..."
2,King Crimson,Formentera Lady,Houses iced in whitewash guard a pale shore-li...
3,Sia,Rewrite,"You don't, know me \r\nYou can't, hold me \r..."
4,Tom Jones,I'm Counting On You,The night is so wild \r\nAnd downstairs the c...
5,Frank Sinatra,"Both Sides, Now",Rows and flows of angel hair \r\nAnd ice crea...
6,Michael W. Smith,Live And Learn,Never should have tasted that forbidden fruit ...
7,Alabama,Keep On Dreamin',Words and Music by Jeff Cook and Richard Scott...
8,Ozzy Osbourne,Killer Of Giants,If none of us believe in war \r\nThen can you...
9,UB40,Oracabessa Moonshine,Oracabessa moonshine \r\nIs washing over me ...

In [17]:
df["text"][1]

"[First Man:] I think, I think I am, therefore I am, I think.  \r\n[Establishment:] Of course you are my bright little star,  \r\nI've miles  \r\nAnd miles  \r\nOf files  \r\nPretty files of your forefather's fruit  \r\nAnd now to suit our  \r\nGreat computer,  \r\nYou're magnetic ink.  \r\n  \r\n[First Man:] I'm more than that, I know I am, at least, I think I must be.  \r\n[Inner Man:] There you go man, keep as cool as you can.  \r\nFace piles  \r\nAnd piles  \r\nOf trials  \r\nWith smiles.  \r\nIt riles them to believe  \r\nThat you perceive  \r\nThe web they weave  \r\nAnd keep on thinking free.\r\n\r\n"

In [18]:
df.sample(5000)

,artist,song,text
3519,Bryan White,Two In A Million,In a world of illusion \r\nFilled with wrong ...
440,Widespread Panic,Driving Song,The leaves seen through my window pane \r\nRe...
2204,Glee,I Dreamed A Dream,I dreamed a dream in times gone by \r\nWhen h...
1058,Yazoo,Good Times,"Sometimes I feel, \r\nI'll never belong \r\n..."
4331,NOFX,I Want You To Want Me,[Originally by Cheap Trick] \r\n \r\nI want ...
...,...,...,...
1484,Jimmy Buffett,Baby's Gone Shoppin',Baby's gone shoppin' she's lookin' around \r\...
1169,Judas Priest,The Green Manalishi,Now when the day goes to sleep and the full mo...
1818,Erik Santos,This Song Is For You,If only a song could capture a memory \r\nI w...
3178,Ultravox,Love's Great Adventure,Standing on my own \r\nIt didn't mean that mu...
2430,Nick Drake,Phaedra's Meadow,I was walking thru the forest \r\nOne cold an...

In [19]:
df.shape

(5000, 3)

Text Processing / Cleaning

In [20]:
df["text"].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex=True)

0       dee-goo-pee-oo-poo  \r ta-dan!  \r   \r bad co...
1       [first man:] i think, i think i am, therefore ...
2       houses iced in whitewash guard a pale shore-li...
3       you don't, know me  \r you can't, hold me  \r ...
4       the night is so wild  \r and downstairs the ch...
                              ...
4995    where you gonna run  \r where you gonna hide  ...
4996    if i gave you my heart  \r where would you be ...
4997    baby, you got me sick  \r i don't know what i ...
4998    ah! it's just another wasted mornin'  \r while...
4999    [repeat: x4]  \r mm mm  \r   \r some humans ai...
Name: text, Length: 5000, dtype: object

In [21]:
df['text']=df["text"].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex=True)

In [22]:
df.tail(5)

,artist,song,text
4995,Peter Tosh,Where You Gonna Run,where you gonna run \r where you gonna hide ...
4996,Ocean Colour Scene,If I Gave You My Heart,if i gave you my heart \r where would you be ...
4997,One Direction,Heart Attack,"baby, you got me sick \r i don't know what i ..."
4998,Waylon Jennings,I'll Find It Where I Can,ah! it's just another wasted mornin' \r while...
4999,John Prine,Some Humans Ain't Human,[repeat: x4] \r mm mm \r \r some humans ai...

In [23]:
df

,artist,song,text
0,Frank Zappa,Does This Kind Of Life Look Interesting To You?,dee-goo-pee-oo-poo \r ta-dan! \r \r bad co...
1,Moody Blues,In The Beginning,"[first man:] i think, i think i am, therefore ..."
2,King Crimson,Formentera Lady,houses iced in whitewash guard a pale shore-li...
3,Sia,Rewrite,"you don't, know me \r you can't, hold me \r ..."
4,Tom Jones,I'm Counting On You,the night is so wild \r and downstairs the ch...
...,...,...,...
4995,Peter Tosh,Where You Gonna Run,where you gonna run \r where you gonna hide ...
4996,Ocean Colour Scene,If I Gave You My Heart,if i gave you my heart \r where would you be ...
4997,One Direction,Heart Attack,"baby, you got me sick \r i don't know what i ..."
4998,Waylon Jennings,I'll Find It Where I Can,ah! it's just another wasted mornin' \r while...
4999,John Prine,Some Humans Ain't Human,[repeat: x4] \r mm mm \r \r some humans ai...

In [24]:
df.tail(5)

,artist,song,text
4995,Peter Tosh,Where You Gonna Run,where you gonna run \r where you gonna hide ...
4996,Ocean Colour Scene,If I Gave You My Heart,if i gave you my heart \r where would you be ...
4997,One Direction,Heart Attack,"baby, you got me sick \r i don't know what i ..."
4998,Waylon Jennings,I'll Find It Where I Can,ah! it's just another wasted mornin' \r while...
4999,John Prine,Some Humans Ain't Human,[repeat: x4] \r mm mm \r \r some humans ai...

In [25]:
import nltk
from nltk.stem.porter import PorterStemmer

In [26]:
stemmer = PorterStemmer()

In [27]:
def token(txt):
    token = ntk.word_tokeniz(txt)
    a = [stemmer.stem(w) for w in token]

In [28]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]

In [29]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [31]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [32]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [33]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [34]:
import nltk
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

In [35]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [36]:
stemmer = PorterStemmer()

In [37]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [38]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [39]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [40]:
from nltk.stem import PorterStemmer

In [41]:
from nltk.tokenize import word_tokenize

In [42]:
stemmer = PorterStemmer()

In [43]:
def token(txt):
    tokens = word_tokenize(txt)
    stems = [stemmer.stem(w) for w in tokens]
    return " ".join(stems)

In [44]:
print(token("you are beautiful, beauty"))

you are beauti , beauti

In [45]:
!pip uninstall nltk -y

Found existing installation: nltk 3.9.1
Uninstalling nltk-3.9.1:
  Successfully uninstalled nltk-3.9.1

In [46]:
!pip uninstall nltk -y

WARNING: Skipping nltk as it is not installed.

In [47]:
!pip install nltk --upgrade

Collecting nltk
  Using cached nltk-3.9.1-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: click in d:\anna\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in d:\anna\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in d:\anna\lib\site-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in d:\anna\lib\site-packages (from nltk) (4.66.5)
Requirement already satisfied: colorama in d:\anna\lib\site-packages (from click->nltk) (0.4.6)
Using cached nltk-3.9.1-py3-none-any.whl (1.5 MB)
Installing collected packages: nltk
Successfully installed nltk-3.9.1

In [48]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [49]:
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer

stemmer = PorterStemmer()

def token(txt):
    tokens = word_tokenize(txt)
    stems = [stemmer.stem(w) for w in tokens]
    return " ".join(stems)

print(token("you are beautiful, beauty"))

you are beauti , beauti

In [50]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [51]:
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer

stemmer = PorterStemmer()

def token(txt):
    tokens = word_tokenize(txt)
    stems = [stemmer.stem(w) for w in tokens]
    return " ".join(stems)

print(token("you are beautiful, beauty"))

you are beauti , beauti

In [52]:
import nltk
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [53]:
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer

stemmer = PorterStemmer()

def token(txt):
    tokens = word_tokenize(txt)
    stems = [stemmer.stem(w) for w in tokens]
    return " ".join(stems)

print(token("you are beautiful, beauty"))

you are beauti , beauti

In [54]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

token("you are beautiful, beauty")

'you are beauti , beauti'

In [55]:
df['text'].apply(lambda x: token(x))

0       dee-goo-pee-oo-poo ta-dan ! bad conscienc : do...
1       [ first man : ] i think , i think i am , there...
2       hous ice in whitewash guard a pale shore-lin c...
3       you do n't , know me you ca n't , hold me i 'l...
4       the night is so wild and downstair the child i...
                              ...
4995    where you gon na run where you gon na hide who...
4996    if i gave you my heart where would you be woul...
4997    babi , you got me sick i do n't know what i di...
4998    ah ! it 's just anoth wast mornin ' while i 'm...
4999    [ repeat : x4 ] mm mm some human ai n't human ...
Name: text, Length: 5000, dtype: object

In [56]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [57]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [58]:
matrix = tfid.fit_transform(df["text"])

In [59]:
matrix

<5000x23486 sparse matrix of type '<class 'numpy.float64'>'
	with 266717 stored elements in Compressed Sparse Row format>

In [60]:
similar = cosine_similarity(matrix)

In [61]:
similar

array([[1.00000000e+00, 9.29492180e-03, 0.00000000e+00, ...,
        5.52031961e-03, 0.00000000e+00, 1.06996084e-02],
       [9.29492180e-03, 1.00000000e+00, 8.88714518e-03, ...,
        7.01384731e-03, 1.30185593e-03, 7.33127737e-04],
       [0.00000000e+00, 8.88714518e-03, 1.00000000e+00, ...,
        1.03570499e-03, 1.94374339e-02, 4.27409517e-03],
       ...,
       [5.52031961e-03, 7.01384731e-03, 1.03570499e-03, ...,
        1.00000000e+00, 2.20776531e-02, 1.39627877e-02],
       [0.00000000e+00, 1.30185593e-03, 1.94374339e-02, ...,
        2.20776531e-02, 1.00000000e+00, 1.03586650e-02],
       [1.06996084e-02, 7.33127737e-04, 4.27409517e-03, ...,
        1.39627877e-02, 1.03586650e-02, 1.00000000e+00]])

In [62]:
similar[0]

array([1.        , 0.00929492, 0.        , ..., 0.00552032, 0.        ,
       0.01069961])

In [63]:
df[df['song']=='Waiting For The Man'].index[0]

IndexError: index 0 is out of bounds for axis 0 with size 0

Recommender Function

In [64]:
def recommender(song_name):
    idx = df[df['song']==song_name].index[0]
    distance = sorted(list(enumerate(similar[idx])), reverse=True, key= lambda x:x[1])
    song = []
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [65]:
recommender("God Will")

IndexError: index 0 is out of bounds for axis 0 with size 0

User Interface

In [66]:
import pickle

In [68]:
import pickle
pickle.dump(similar,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))